<body>
    <table class="table align-middle mb-0 bg-dark border border-dark">
        <thead class="bg-dark">
          <tr>
            <th >Nom, prénom et Email</th>
            <th>Nom d'utilisateur</th>
            <th>Rôle</th>
            
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="d-flex align-items-center ">
                <img
                    src="https://static.vecteezy.com/system/resources/previews/005/544/718/original/profile-icon-design-free-vector.jpg"
                    alt=""
                    style="width: 45px; height: 45px"
                    class="rounded-circle"
                    />
                <div class="ms-3 ">
                  <p class="fw-bold mb-1">Anas Zahou</p>
                  <p class="text-muted mb-0">anas@gmail.com</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">anas</p>
              
            </td>
            <td>
              <span class="badge badge-success rounded-pill d-inline">Jardinier</span>
            </td>
            
            <td>
                <button
                type="button"
                class="btn btn-primary">
                ✏️ Editer
        </button>
        <button
                  type="button"
                  class="btn btn-danger">
                  X Supprimer
          </button>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img
                    src="https://static.vecteezy.com/system/resources/previews/005/544/718/original/profile-icon-design-free-vector.jpg"
                    class="rounded-circle"
                    alt=""
                    style="width: 45px; height: 45px"
                    />
                <div class="ms-3">
                  <p class="fw-bold mb-1">Fadoua Elkhoudri</p>
                  <p class="text-muted mb-0">zfzef@gmail.com</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">fadoua</p>
              
            </td>
            <td>
              <span class="badge badge-primary rounded-pill d-inline"
                    >Menuisier</span
                >
            </td>
            
            <td>
              <button
                      type="button"
                      class="btn btn-primary">
                      ✏️ Editer
              </button>
              <button
                        type="button"
                        class="btn btn-danger">
                        X Supprimer
                </button>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img
                    src="https://static.vecteezy.com/system/resources/previews/005/544/718/original/profile-icon-design-free-vector.jpg"
                    class="rounded-circle"
                    alt=""
                    style="width: 45px; height: 45px"
                    />
                <div class="ms-3">
                  <p class="fw-bold mb-1">Latifa Hafidi</p>
                  <p class="text-muted mb-0">rfeqerg@gmail.com</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">latifa</p>
              
            </td>
            <td>
              <span class="badge badge-warning rounded-pill d-inline">plombier</span>
            </td>
            
            <td>
                <button
                type="button"
                class="btn btn-primary">
                ✏️ Editer
        </button>
        <button
                  type="button"
                  class="btn btn-danger">
                  X Supprimer
          </button>
            </td>
          </tr>
        </tbody>
      </table>
</body>